@model IEnumerable<TestKeyCore.Models.Productos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tx_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nu_Precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tx_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nu_Precio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProducto }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProducto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProducto })
        </td>
    </tr>
}

</table>
